.item__detail__header {
    display: flex;
    margin: 30px 0;
    font-family: $font-primary;
    
    .item__Info {
        display: flex;
        align-items: center;

        .item__img {
            width: 90px;
            height: 100px;
            background-color: #999;
        }
    }

    .item__description__info {
        margin-left: 20px;

        .assets__description {
            font-weight: 800;
        }

        .assets__assettype {
            color: $dark2;
        }

        .assets__serialnumber {
            display: flex;
            color: $dark2;
        }
    }
}

.details__menu {
    .nav-pills {
        border-bottom: 1px solid rgba($primery__color, 0.2);
    }

    .nav-pills li+li {
        margin-left: 40px;
    }

    .nav-pills2 li+li {
        margin-left: 80px;
    }
    .nav-link {
        background: none;
        font-size: 18px;
        font-weight: 400;
        color: $dark1;
        padding: 12px 0;
        margin-bottom: -2px;
        border-radius: 0;
        font-family: $font-secondary;
    }

    .nav-link.active {
        color: $primery__color;
        background: none;
        border-bottom: 3px solid $primery__color;
    }

    .nav-pills2 {
        margin-left: 70px;

        .nav-link-sub  {
            text-decoration: none;
            background: none;
            font-size: 16px;
            font-weight: 400;
            color: $dark2;
            padding: 12px 0;
            border-radius: 0;
            font-family: $font-secondary;

            .badge {
                margin-left: 5px;
                background-color: $primery__color;
            }
        }

        
    }
    
    .generalInfo__container {
        outline: none !important;
    
        .item__title {
            background: $secondary__color;
            padding: 12px 10px;
            font-size: 16px;
    
        }
    
        .generalInfo__table {
            outline: none !important;
            margin-bottom: 30px;
    
            td {
                padding: 12px 10px;
                font-size: 14px;
            }
    
            .only-label {
                width: 40%;
                color: $dark2;
            }
        }
    }
}
