.searchForm {
    display: flex;
    align-items: center;
    width: 200px;
    
    .bi {
        font-size: 16px;
        background: #888888;
        padding: 4px 0 4px 12px;
        font-weight: 400px;
        color: #212529;
        border-radius: 5px 0px 0px 5px;
        border: none;
    }

    .form-control {
        padding: 4px 12px 4px 8px;
        background-clip: none;
        background: #888888;
        border-radius: 0 5px 5px 0;
        border: none;
        outline: none;
        box-shadow: none;


    }
}

.user__menu {
    list-style: none;
    text-decoration: none;
    margin-right: 75px;
    color: $light;

    

    .bi {
        font-size: 20px;
        margin-left: 30px;
    }
    &::before {
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -0.125em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

}