/*============================================================
	PR Requisitions list
==============================================================*/

.prRequsitions__table {

    .header__title {
        .title {
            border-color: transparent;
        }
    }

    tr {
        vertical-align: middle;
    }

    th,
    td {
        margin-right: 2px;
        text-align: start;

        input {
            max-width: 120px;
            border: 0.5px solid #dbdbdb;
            // box-sizing: border-box;
        }
    }

}
