/*============================================================
	sidebar
==============================================================*/

.sideBar {
    width: 220px;
    height: calc(100vh - 57px);
    background-color: #212529;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 56px;
    left: 0;
    bottom: 0;
    z-index: 99;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    padding-bottom: 30px;

}

.sideBar::-webkit-scrollbar {
    width: 0;
}

.sideBar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.sideBar:not(.show) {
    width: 4rem;

    a {
        display: none;
    }
}

.nav {

    .nav-item {
        display: flex;
        align-items: center;

        .bi {
            font-size: 18px;
            color: $primery__color;
            margin-left: 23px;
            padding: 10px 0;
        }

        .nav-link {
            color: #fff;
            font-size: 12px;
            padding: 12px 2px 12px 20px;
        }

        &:hover {
            background: $black;
        }

        &:active {
            background: $primery__color;
        }
    }
}
